body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(0,0,0,0.2);
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    cursor: pointer;
    // margin: 10px;
    // background-color: white;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
    width: 100%;
    height: 100%;

    &.optional {
      opacity: 0.4;
    }
}

/* On mouse-over, add a deeper shadow */
.card .done {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: darken(white, 10%);
}

.card-container {
  display: flex; /* or inline-flex */
  flex-direction: row;
  flex-wrap: wrap;
}

/* Add some padding inside the card container */
.text-container {
    padding: 2px 16px;
}

.card .icon {
    font-size: 40px;
    text-align: center;
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
    border-radius: 5px 5px 0 0;
}

.card-wrapper {
  width: 200px;
  min-height: 200px;
  position: relative;
  perspective: 800px;
  margin: 10px;
}

.card figure {
  background-color: #fff;
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card .front {
  // background: red;
}
.card .back {
  // background: blue;
  transform: rotateY( 180deg );
}

.card.flipped {
  transform: rotateY( 180deg );
  // z-index: 9999;
  // transform: scale(2);
}